.App {
  text-align: center;
}

.App-header {
  background-color: #f0dfdb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #7F7B82;
}
